.app {
  /*  background-image: url("./assets/clima-en-playa-del-carmen.jpg");
    background: no-repeat;
    background-size: cover;
    position: absolute; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bkg {
  backdrop-filter: blur(16px);
  width: 100vw;
  height: 100vw;
  background-color: #4d494970;
}
.container {
  width: 70vw;
  height: 70vh;
  margin: 15vh 15vw;
  top: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50vh 20vh;
}
.citiesContainer {
  display: flex;
  height: 20vh;
  background-color: #68656596;
  backdrop-filter: blur(16px);
  justify-content: space-between;
}
.app,
.container {
  background-image: url("./assets/Soñar-con-nubes-negras.jpg");
  background-size: cover;
  position: fixed;
  border-radius: 1.5rem;
}
